body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 98%;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 1200px;
    position: relative;
    max-height: 80vh; 
    overflow: hidden;
}

.task-creation, .task-list-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(82 231 17 / 10%);
    width: 45%;
    margin: 0 9px;
    max-height: 90%;
    overflow: auto;
}

.task-creation h1, .task-list-container h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form select, form button {
    margin: 7px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.collapsed .task-details {
    display: none;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.notificationDelete {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #cc5c61;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

/* Estilos según prioridad */
.Baja {
    border-left: 5px solid green;
}

.Media {
    border-left: 5px solid orange;
}

.Alta {
    border-left: 5px solid red;
}

/* Estilos para botones de editar y eliminar */
button.edit, button.delete {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    font-size: 1.2em;
}

button.edit:hover, button.delete:hover {
    background-color: #ddd;
    border-radius: 4px;
}

button.edit {
    color: blue;
}

button.delete {
    color: red;
}

button.expand {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1.2em;
}

button.expand:hover {
    background-color: #ddd;
    border-radius: 4px;
}

.task-details {
    display: flex;
    flex-direction: column;
}

.task-details span {
    margin: 2px 0;
}

.subtask-list {
    margin-left: 20px;
}

.subtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtask .subtask-text {
    flex-grow: 1;
}

.subtask.completed .subtask-text {
    text-decoration: line-through;
    color: gray;
}

.subtask-actions button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    font-size: 1em;
}

.subtask-actions button:hover {
    background-color: #ddd;
    border-radius: 4px;
}

.task-category {
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-left: 10px;
    display: inline-block;
    color: #fff; /* Ajustar color de texto para visibilidad */
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
